<footer>
    <p style="color: darkred">HBR (handlebar) мне нравится больше в качестве шаблонизатора</p>
    <div>{{ email }}</div>

    <!--<p>{{ currYear }}</p>-->

    <p>Вызов {{ toUpper хелпера }}: {{ getCurrYear }}</p>
</footer>

