<!DOCTYPE html><html lang="en"><head><title>Help</title><script type="text/javascript">foo= ;
bar= ;
if (foo)
    console.log( bar(1 + 5) );
    // Не работает JS-код при рендеринге (выдает NaN), хотя после рендеринга bar() работает в консоли браузера: bar(1,4) выдает 5</script></head><body><h1>Pug - node template engine</h1><p>Hello, !</p><div class="col" id="container"><p>Get on it!</p></div><p>Pug is a terse and simple templating language with a
strong focus on performance and powerful features.</p></body></html>